@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;500;600&family=Montserrat:wght@200;300;600;900&family=Pacifico&family=Poppins:wght@500;600;800&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: pink;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Montserrat', sans-serif;
}

.header{
  background-color: black;
}
.logo{
  display: block;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
.main-nav{
  background-color: pink
}
.main-nav ul {
  display: grid;
  grid-gap: 50px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}
.main-nav a {
  background: black;
  display: block;
  text-decoration: none;
  padding: 0.7rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  box-shadow:white;
}
.main-nav a:hover {
  background: white;
  color: #ea698b;
}
nav {
    display: grid;
    grid-gap: 10px;
   justify-content: space-around;
}
.item1 { grid-area: header; }
.item2 { grid-area: image; }
.item3 { grid-area: info; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'image info info info info info';

  grid-gap: 10px;
  background-color: #ffb3c1;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.shopButton{
	box-sizing: border-box;
	width: 100px;
	color: white;
	background-color: pink;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.shopButton:hover{
	background-color: pink;
	color: black;
}
.buttonDiv{
	text-align: center;
}
.button{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	background-color:pink;
}
.button:hover{
	background-color: white;
	color: pink;
}
#mapb{
	box-shadow: 0 0 5px 2px;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
    @keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		/* Add animation to "page content" */
		.animate-bottom {
			position: relative;
			-webkit-animation-name: animatebottom;
			-webkit-animation-duration: 1s;
			animation-name: animatebottom;
			animation-duration: 1s
		}

		@-webkit-keyframes animatebottom {
			from { bottom:-100px; opacity:0 } 
			to { bottom:0px; opacity:1 }
		}

		@keyframes animatebottom { 
			from{ bottom:-100px; opacity:0 } 
			to{ bottom:0; opacity:1 }
		}

		#myDiv {
			display: none;
			margin: 10px;
		}
		input{
			color: white;
			background-color: black;
			font-size: 25px;
			border: 5px solid black;
			border-radius: px;
		}
.box {
  background-color: white;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
footer{
  padding: 50px 0;
  background-color: black;
}
footer .social__networks{
text-align: center;
padding-top: 70px;
color: pink;
padding-bottom: 70px;
}
footer .social__networks a{
  font-size: 26px;
  color: inherit;
  border: 1px solid pink;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 30px;
  opacity: 0.7;
}
footer .social__networks a:hover{
  opacity: 0.9;
  background-color: pink;
  color: black;
}
footer ul{
  margin-top:35px;
  padding: 15px;
  list-style: none;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 0;
  color: white;
}
footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  text-align: center;
}
footer ul li{
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}
footer ul li a:hover{
  opacity: 1;
}
footer .links{
  text-align: center;
}
footer .copyright{
  color: grey;
  text-align: center;
  font-size: 12px;
}
#map{
  width: 1000px; 
  height: 300px; 
  margin-top: 1px;
  position: relative;
  left: 250px;
  right: 250px;
}

@media (min-width: 576px){
.wrapper {
  display: grid;
  grid-gap: 10px;
}
.main-nav ul {
  display: grid;
  grid-gap: 50px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
.unnamedImage{
  width: 650px;
 }
 .gridImages{
  width: 150px;
 }
 
 #map{
  width: 500px; 
  height: 100px; 
  margin-top: 1px;
  position: relative;
  left: 250px;
  right: 250px;
}
}